<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="title" class="palm-dialog-title">
		Add New Forum
	</div>
	<div class="palm-dialog-separator"></div>
				<div id="userNameField" class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">				
					<div class="title">
						<div class="label right" id="userLabel">User Name</div>
		           		<div id="textFieldUserName" name="textFieldUserName" x-mojo-element="TextField" align="left" ></div>
					</div>	
			    </div>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">				
					<div class="title">
						<div class="label right" id="passwordLabel">Password</div>
		           		<div id="textFieldPassword" name="textFieldPassword" x-mojo-element="PasswordField" align="left" ></div>
					</div>	
			    </div>

				<div id="login_required" class="palm-row-wrapper" x-mojo-focus-highlight="false" style="display: none;">				
					<div class="palm-body-text">
						This forum is for registered users only. You only can access this forum by providing your login credentials.
					</div>	
			    </div>
<div class="palm-inline-error" style="display:none" id="error_message">
	<div id="error-message" class="error-message">Forum addres invalid. Check entered info and try again.</div>
</div>

</div>
<div class="palm-dialog-buttons">
	<div x-mojo-element="Button" id="goRegister">
    </div>
	<div x-mojo-element="Button" id="checkCredentials">
    </div>
</div>
