<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title">
		Add New Forum
	</div>
	<div class="palm-dialog-separator"></div>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
					<div class="title">
						<div class="label right" id="urlLabel">Forum URL</div>
		           		<div id="textFieldURL" name="textFieldURL" x-mojo-element="TextField" align="left" ></div>
					</div>
			    </div>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
					<div class="title">
						<div class="label right" id="nameLabel">Forum Name</div>
		           		<div id="textFieldName" name="textFieldName" x-mojo-element="TextField" align="left" ></div>
					</div>
			    </div>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
					<div class="title">
						<div class="label right" id="urlLabel">Description</div>
		           		<div id="textFieldDesc" name="textFieldDesc" x-mojo-element="TextField" align="left" ></div>
					</div>
			    </div>
				<!--<div class="palm-row-wrapper" x-mojo-focus-highlight="false">
					<div class="palm-body-text">
						You can put anything here
					</div>
			    </div>-->
<div class="palm-inline-error" style="display:none" id="error_message">
	<div class="error-message" id="error_text">Forum addres invalid. Check entered info and try again.</div>
</div>
</div>
<div class="palm-dialog-buttons">
	<div x-mojo-element="Button" id="save">
    </div>
</div>
