<!-- TODO: replace the contents of this file with your own html -->
<div id="scrim" class="palm-scrim">
  <div id="activity-spinner" x-mojo-element="Spinner"></div>
</div>
<div id="main">
	<div id="header" class="palm-page-header multi-line photo-header">
		<div class="forum-header-wrapper">
			<div id="topicCounter" class="topic-count-wrapper hidden">
				<div id="forum_count" class="topic-count"></div>
			</div>
			<div id="closedFlag" class ="topic-subscribed-wrapper hidden">
				<img src="images/secure-lock.png" class="topic-subscribed-image"/>
			</div>
			<div id="subsbribedFlag" class ="topic-subscribed-wrapper hidden">
				<img src="images/star-silver.png" class="topic-subscribed-image"/>
			</div>
			<div id="forum_name" class="child-header-button truncating-text" x-mojo-tap-highlight="immediate"></div>
<!--			<div id="forum_name_noButton" class="palm-header-button-hidden"></div>-->
<!--			<div id="fullscreen_album_description" class="album-description">Images stored in your Gravatar's account</div>-->
		</div>
	</div>
	<div class="palm-header-spacer"></div>
<div id="forum-name" class="palm-body-title"></div>
<div id="topics">
	<div id="topicList" x-mojo-element="List"></div>
</div>
</div>
