<div class="palm-scene palm-dark palm-hasheader">
<div id="scrim" class="palm-scrim">
  <div id="activity-spinner" x-mojo-element="Spinner"></div>
</div>
	<div id="search-bar" class="search-bar-top">
		<div class="filter-field-container filter-field-container-height" x-mojo-focus-highlight="true">
			<div class="filter-field-wrapper">
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group">
						<div class="title">
							<div id="search-button" class="icon right submit disabled" x-mojo-touch-feedback="immediate"></div>
							<div id="in-fa-ma-search-text" x-mojo-element="TextField" class="search-field"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="search-bar-spacer" class="palm-header-spacer"></div>
<div id="emptyHolder">
	<div id="list-empty-filtered" class="empty-list-text" x-mojo-loc=''>No search results</div>
	<div class="palm-fullscreen">
		<div class="palm-fullscreen-cont">
			<div class="large-icon empty-list-icon"></div>
			<div class="fullscreen-message" x-mojo-loc=''>No Search results found.</div>
			<div class="fullscreen-message" x-mojo-loc=''>Please try again using different words.</div>
		</div>
	</div>
</div>
<div id="startSearchHolder">
	<div id="list-empty-filtered" class="empty-list-text" x-mojo-loc=''></div>
	<div class="palm-fullscreen">
		<div class="palm-fullscreen-cont">
			<div class="large-icon empty-list-icon"></div>
			<div class="fullscreen-message" x-mojo-loc=''>Please type your search terms</div>
		</div>
	</div>
</div>

<div id="forumList" x-mojo-element="List" class="forums-list"></div>

</div>