<!-- TODO: replace the contents of this file with your own html --
<div class="palm-scene palm-dark">
<div class="palm-fullscreen">
<img id="forum_icon" class="large-icon connecting" src=""/>
<div id="status-message" class="fullscreen-message">Connecting to Forum...</div>
</div>
</div>-->

<div class="palm-scene palm-dark">
<div class="palm-fullscreen">
	<div class="large-icon">
	<div class="loader-image-wrapper">
		<div class="image-wrapper">&nbsp;</div>
		<img id="forum_icon" class="connecting" src=""/>
	</div>
	</div>
<div id="status-message" class="fullscreen-message">Connecting to Forum...</div>
</div>
</div>