<div class="palm-scene palm-dark">
	<div id="header" class="palm-page-header multi-line photo-header hidden">
		<div class="photo-header-wrapper">
			<div class="photo-count">
				<div id="album_count" class="photo-count-wrapper"></div>
			</div>
			<div id="fullscreen_album_name" class="palm-header-button" x-mojo-tap-highlight="immediate"></div>
		</div>
	</div>
	<div id="main" class="fp-image-full">
		<div id="image_flipview_full" class="fullscreen-item scrolling-contents" x-mojo-element="ImageView"></div>
	</div>
	<div id="delete-image-div" class="palm-scrim dialog" style="display: none;">
		<div x-mojo-element="Spinner" id="spinner"></div>
	</div>
	<div id="feedback" class="feedback"></div>
</div>
