<!-- TODO: replace the contents of this file with your own html -->
<!--<div id="scrim" class="palm-scrim">
  <div id="activity-spinner" x-mojo-element="Spinner"></div>
</div>-->
<!--<div id="scrim-minimized" class="white-scrim">
	<img id="forum-image-small" class="small-icon" src="images/bundledforums/precentral.png"/>
</div>-->
<div id="scrim-minimized" class="white-scrim">
	<!--<img id="forum-image" class="large-icon" src="images/bundledforums/precentral.png"/>-->
	<!--<div id="forum-name" class="fullscreen-message">Forum Name</div>-->
	<div class="stack-image-wrapper">
			<img id="forum-image-small" class="stack-image" src="" />
			<div class="stack-overlay"></div>
		</div>
</div>

<div id="main">
	<div id="email_header_block" class="simulate-fixed-horiz-position">
		<div class="palm-page-header multi-line"><div class="palm-page-header-wrapper">
			<div class="palm-row first" x-mojo-tap-highlight="momentary"><div class="palm-row-wrapper">
				<div id="email_from" class="email-readview-from">
				</div>
			</div></div>
			<div id="recipients-row" class="palm-row last"><div class="palm-row-wrapper">
				<div id="email_recipients_controller" class="email-recipient-summary"></div>
			</div></div>
			<div id='email_recipients_drawer' x-mojo-element="Drawer">
				<div id="email_recipients" class="palm-list"></div>
			</div>
		</div></div>
		<div id="email_subject"></div>
	</div>

<!--	<div id="email-readview-content-container" class="email-readview-content">
		<div class="email-readview-wrapper">-->
			<div class="email-readview-webview" id="email_body_text">
			</div>
<!--		</div>
	</div>
-->
</div>