								<div id="edit-photo-right">
    						<div class="edit-view-photo-container-right">
								<div class="edit-view-list-frame-right"></div>
									<img class="edit-view-list-pic-square-right" src="#{icon_url}" />
								<div class="edit-view-shill-div-right"></div>                
							</div>
    					</div>
<div class="from-name" id="email_sender_displayName">
	<div class="name truncating-text">
		<div id="email-sender-name" class="email-from-name truncating-text">
			#{-msg_from}
		</div>
	</div>
</div>
<div class="from-date" id="from-date">
	#{-niceDate}
</div>



