<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
    <h1>1.4.6</h1>
    - Touchpad optimizations: enabled full-screen use, added Go Back menu option since TouchPad doesn't have the back gesture.<br/> - Updated the built-in WebOS Nation bookmark<br/>
    <h1>1.4.5</h1>
    - Fixes to dark theme search results and jump to page dialog.<br/> - Fixed auto-correct bug in new post/message scene, that caused changes made by auto-correct or auto-correct-undo being lost.<br/> - Default view setting should now be honored in all
    cases, unless not logged in and default view requires login.<br/>
    <h1>1.4.4</h1>
    - Open IPK links in Preware.<br/> - Added 26px font size option. Whoah.<br/> - Changed default theme to dark.<br/>
    <h1>1.4.2</h1>
    - fixed timing issue that caused export forums button to not display sometimes.<br/> - Additional larger font size options.<br/>
    <h1>1.4.1</h1>
    - Your guess is as good as mine.<br/>
    <h1>1.4.0</h1>
    - Fixed bug that caused a forum to fail to open after logging out.<br/>
    <h1>1.3.9</h1>
    - Encrypt stored passwords on app startup.<br/> - Added import/export forum buttons, in preparation for releasing new app package in webOS Nation app gallery.<br/>
    <h1>1.3.8</h1>
    - Added basic support for proboards.com-hosted forums. Not all features supported. Must be logged in to use recent posts view.<br/> - Fixed bug in response parsing that was causing some categories to be missing from forum tree (and probably some un-noticed
    issues elsewhere)<br/>
    <h1>1.3.7</h1>
    - Dark theme added<br/>
    <h1>1.3.6</h1>
    - Added setting for message display font size with four size options (may change).<br/> - View a user's profile by tapping their avatar and selecting 'View public profile'<br/> - Disabled scrim that covers app when it is carded - may add a preference
    for this later.<br/> - On forums that return it, the post number will be displayed next to the date.<br/>
    <h1>1.3.5</h1>
    - New shortcut keys for top/bottom of page taken from browser multi-mod patch: backspace for top, enter for bottom.<br/> - Re-authenticate in subscribed post view after viewing a thread that hoses your session. (experimental)<br/>
    <h1>1.3.4</h1>
    - Add forum button moved to bottom of saved forum list.<br/> - Tap on like or thanks count and a popup will display the list of users that liked or thanked a post.<br/> - Bug fixes<br/> - What 1.3.3? :)<br/>
    <h1>1.3.2</h1>
    - Bug fixes<br/>
    <h1>1.3.1</h1>
    - When adding a forum, if it allows guest access, the app will not ask for credentials, but just add the forum (similar to adding from gallery). You can log in after opening the forum using the login button or from the app menu.<br/> - Added logout
    item to app menu. This will clear out your user name and password and log you out. Do not use this menu item unless you really want to log out. <br/> - Changed the popup menu on posts from requiring a tap-and-hold to just tap. Previously, tapping
    would start a quoted reply. <br/>
    <h1>1.2.5-patch1.1</h1>
    - Added liking and thanking added to post context menu<br/> - Allow manually adding forums. Must know exact URL for Tapatalk plugin or it will not work!<br/> - Remove network error scene. If network drops, you will not lose your place, but will re-establish
    session when connection is restored.<br/>
    <h1>1.2.5-patch1.0.1</h1>
    - Bug fix - No longer showing duplicate post at the end of each full page.<br/>
    <h1>1.2.5-patch1.0</h1>
    - Fix for recent topic view, which was broken due to Taptalk API change.<br/> - Disabled auto-refresh of recent topics view. Just tap the clock button again to refresh topics.<br/> - Tweaks to attached images to improve scrolling performance.<br/>
    <h1>1.2.5</h1>
    Fixed gallery access
    <h1>1.2.2</h1>
    Pre3 support
    <h1>1.2.1</h1>
    Bugfixes
    <br/><br/>
    <h1>1.2.0</h1>
    <strong>Sharing Tools</strong><br/> Now you can chare forum links, both by tweeting them or copying forum links to clipboard. To enable twitter support, you'll find the option under preferences. To copy or tweet a link, you can find the option in
    the forum/topic menu, and tapping and holding on a list item.
    <br/><br/>
    <strong>Forum Navigation</strong><br/> Now, you can also mark a single forum as read; you'll find the option in the same forum/topic menus where "Mark all forums read" is shown.
    <br/><br/> Now the app opens topics on the first unread post.
    <br/><br/>
    <h1>1.1.0</h1>
    <strong>Attachments viewing</strong><br/> Now you can view attachments. A new section appears on each post listing the available attachments. Tap on an attachment to open it.
    <br/><br/>
    <strong>Built-in Image viewer</strong><br/> Now you can view post images and attachments directly in the app. It works exactly as before, but opens each image inside the app instead of browser.
    <br/><br/>
    <strong>Post Formatting</strong><br/> Now the app shows basic formatting for post. It handles bolded, underlined, italized and coloured text. It also supports lists (Depends on forum support; ask forum admins to enable it).
    <br/><br/>The app now shows if a user is online: a green frame appears in author avatar if is online.
    <br/><br/>The user is able to send PM to another user from a thread: Tap on the user's avatar to view the option (More options coming).
    <br/><br/>Aesthetical changes.
    <br/><br/>Several bugfixes and speed improvements.
    <br/><br/>
    <h1>1.0.2</h1>
    <strong>Fixed issue with undesired beta expiration message.</strong><br/> A wrong implementation with version handling has caused an unexpected "Beta Expired" message, that turned the app unusable. This update fixes it.
    <br/><br/>
    <h1>1.0.1</h1>
    <strong>Added multiple card support to threads.</strong><br/> Now you can open a thread in a new card. To do it, just do a metatap (gesture area+tap on thread simultaneously), or tap and hold over a thread and select "Open in new Card".
    <br/><br/>Forums handles automatically sessions: if you open a thread in a new card, and log in the forum from that card, all the opened cards on the forum will be automatically logged in, and keeps sesion alive in all cards.
    <br/><br/>Also, you don't need to worry about closing each card. If you want to close a forum entirely, just throw away the full forum card. All the child cards will be closed automatically.
    <br/><br/>As always, you can keep open all the forums you want with all the child cards you need. This feature works on all the thread lists: Recent Posts, Unread Posts, Subscriptions, Participated topics and Search.
    <br/><br/>We are working to enable this feature with subforums too.

    <br/><br/><strong>Improved emoticons support</strong><br/> We have added some new emoticons and also improved the emoticons handling. Each update will add new emoticons, but please be patient with this: we are trying to provide an unique experience
    with this, not just copy that old styled board emoticons.

    <br/><br/><strong>Bugfixes:</strong><br/> - Now images show in the thread they're supposed to show.<br/> - Very complex forum structures should display it's tree properly.<br/> - Search buttons now work as expected on all the scenes of the app.<br/>    - Now you can tap on links, email addresses and images on private messages.

    <br/><br/>Other minor bugfixes, and "ready for future" work.
    <br/><br/>
    <h1>1.0.0</h1>
    Initial release.
</div>