<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="title" class="palm-dialog-title">
		Go To Page
	</div>

	<div class="palm-dialog-separator"></div>
	<div class="palm-list">	
		<div class="palm-row single">
			<div class="palm-row-wrapper">	
			<div id='pagePicker' x-mojo-element="IntegerPicker" style="margin-top: -5px; float: right"></div>
			<div class="title">Page Number</div>	
			</div>
	</div>
	</div>
	<div class="palm-dialog-separator"></div>

</div>
<div class="palm-dialog-buttons">
	<div x-mojo-element="Button" id="gotoPage">
    </div>
	<!--<div x-mojo-element="Button" id="cancel"></div>-->
</div>
