<div class="palm-scene palm-hasheader">
<div id="scrim" class="palm-scrim">
  <div id="activity-spinner" x-mojo-element="Spinner"></div>
</div>
	<div id="search-bar" class="search-bar-top">
		<div class="filter-field-container filter-field-container-height" x-mojo-focus-highlight="true">
			<div class="filter-field-wrapper">
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group">
						<div class="title">
							<div id="search-button" class="icon right submit" style="visibility:hidden;position:relative;z-index:1" x-mojo-touch-feedback="immediate"></div>
							<div id="in-fa-ma-search-text" x-mojo-element="TextField" class="search-field"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="search-bar-spacer" class="palm-header-spacer"></div>
<div id="forumList" x-mojo-element="List" class="forums-list"></div>
</div>